<div b-jgt6elk4ae class="container">
    <partial b-jgt6elk4ae role="main" class="pb-3">
        <h2>Manage users and roles</h2>       
            <hr />
                <div class="row">
                    <div class="col-md-3">
                       <ul class="nav nav-pills flex-column">
                          <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="Index"><strong>List of roles</strong></a></li>
                          <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="Create"><strong>Create new role</strong></a></li>
                          <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="GetUsersByRole"><strong>Users for role</strong></a></li>
                          <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Index"><strong>All Users</strong></a></li>
                          <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Create"><strong>Create new user</strong></a></li>
                       </ul>  
                    </div>  
