<div b-jgt6elk4ae class="container">
    <partial b-jgt6elk4ae role="main" class="pb-3">
        <h1>Manage roles</h1>       
            <hr />
                <div class="row">
                    <div class="col-md-3">
                       <ul class="nav nav-pills flex-column">
                          <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="Index">List of roles</a></li>
                          <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="Create">Create new role</a></li>
                          <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="GetUsersByRole">Users for role</a></li>
                          <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Index">All Users</a></li>
                          <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Create">Create new user</a></li>
                       </ul>  
</div>   

