@model PizzaWebAppAuthentication.Models.ViewModels.RoleManagementViewModels.RoleUsersViewModel

    <partial name = "_Menu" />
    
    <div class="col md-9">
        <div class="row">
            <h3>List of users for role</h3>
            <form asp-controller="Role" asp-action="GetUsersByRole" metod="post">
                <div class = "mb-9">
                   <label class="form-label"> Select role </label>
                   <select asp-for = "SelectedRole" asp-items = "Model.SelectListRole" > </select>
                </div>
                <div><th/> </div>
                <div class="mb-3">
                  <button type ="submit" class="btn btn-primary">Submit</button>
                </div>                
            </form>
            @if (Model.Users.Count > 0)
            {
                <table class="table table-hover">
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td><strong>@user</strong></td>                            
                        </tr>
                    }
                </table>
            }
            else if (Model.SelectedRole != null)

            {
                <h4>Пусто-пусто выросла капуста!</h4>
            }
        </div>
        <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </div>
    
    
   