@using PizzaWebAppAuthentication.Models.ViewModels.CartViewModeles;
@model SmallCartViewModel

@if (Model != null)
{
            <p>Items in cart: <span class="badge badge-primary custom-badge">@Model.NumberOfItems</span></p>
        <p>Total: <b>@Model.TotalAmount.ToString("C2")</b></p>
        <a class="btn btn-primary" asp-controller="Cart" asp-action="Index">View Cart</a>
        <a class="btn btn-danger" asp-controller="Cart" asp-action="Clear">Clear Cart</a>
}
else
{
         <p class="lead m-0">Your cart is empty</p>
}

<style>
    .custom-badge {
  background-color: #FFA07A; /* терракотовый цвет */
}
</style>

